body {
  background: #111;
  color: white;
  font-family: Arial;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 500px;
  margin: auto;
}

h1 {
  text-align: center;
}

input {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: green;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}

.order {
  background: #222;
  padding: 15px;
  border-radius: 10px;
  margin-top: 15px;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}
